<body>
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary" fxLayoutAlign="center center">Login</mat-toolbar>
      <form fxLayoutAlign="streth" fxLayout="column" [formGroup]="formLogin" (submit)="submitLogin()">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':formLogin.get('email').touched && formLogin.get('email').invalid}">
          <div *ngIf="formLogin.get('email').touched && formLogin.get('email').invalid" class="invalid-feedback">
            <div *ngIf="formLogin.get('email').errors.required">Email is required</div>
            <div *ngIf="formLogin.get('email').errors.email">Email must be a valid email Address</div>
          </div>
        </mat-form-field>


        <mat-form-field >
          <input type="password" matInput placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':formLogin.get('password').touched && formLogin.get('password').invalid}">
          <div *ngIf="formLogin.get('password').touched && formLogin.get('password').invalid" class="invalid-feedback">
            <div *ngIf="formLogin.get('password').errors.required">Password is required</div>
            <div *ngIf="formLogin.get('password').errors.minlength">Password must be a letaset 6 charector </div>
          </div>
        </mat-form-field>

        <div class="example-button-row" fxLayoutAlign="center">
          <button mat-raised-button color="primary">Login</button>
          <button mat-button [routerLink]="'/auth/register'">Register</button>
        </div>
        <div *ngIf="error" class="alert mb-0 form-error text-center">{{error}}</div>
      </form>
    </mat-card>
  </div>

</body>
