<div class="menu">
  <div class="grid-template-menu">
    <div class="item-menu-1">
      <div class="menu-1">
        <h1 class="title">Best Seller</h1>
        <div class="content">
          <p>25.000 đ</p>
        </div>
      </div>
    </div>
    <div class="item-menu-2">
      <div class="menu-2">
        <img class="img-menu-2" src="../../../../../../assets/Images/Rectangle 28.png" alt="img-menu">
        <p class="text">peach <br> fruitee</p>
      </div>
    </div>
    <div class="item-menu-3">
      <div class="menu-3">
        <img class="img-menu-3" src="../../../../../../assets/Images/Rectangle-28.png" alt="img-menu">
        <p class="text">grape <br> fruitee</p>
      </div>
    </div>
    <div class="item-menu-4">
      <div class="menu-4">
        <h1 class="title">must try</h1>
        <div class="content">
          <p>30.000 đ</p>
        </div>
      </div>
    </div>
  </div>
</div>
