.carousel{
  width: 100%;


  background: linear-gradient(99.85deg, #FF7800 0%, #D9E021 100%);

  box-sizing: border-box;
  padding: 0px 100px;

  .row{
    margin: 0px;
  }

  .col-md-6, .col-md-5, .col-md-7, .col-md-12{
    padding: 0px;
  }

  .form-carousel{
    width: 100%;

    background: #FFFFFF;
    border-radius: 0px;

    margin-top: 130px;

    .row{
      row-gap: 20px;

      .input-text{
        width: 90%;
        height: 60px;

        border: 2px solid #808080;
        box-sizing: border-box;
      }

      .input-phone, .input-email{
        width: 100%;
        height: 60px;

        border: 2px solid #808080;
        box-sizing: border-box;
      }

      .textarea{
        width: 100%;
        height: 240px;

        border: 2px solid #808080;
        box-sizing: border-box;
      }

      .input-text, .input-phone, .input-email , .textarea{
        box-sizing: border-box;
        padding: 16px 20px 16px 20px;

        font-family: Baloo2-bold;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
      }

      .input-text::placeholder, .input-phone::placeholder, .input-email::placeholder, .textarea::placeholder{
        font-family: Baloo2-bold;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;

        color: #808080;
      }
    }

    .button-sent{
      display: block;
      margin: auto;
      margin-top: 30px;
      width: 100px;
      height: 60px;

      background: #D9E021;
      box-sizing: border-box;
      padding: 17px;
      border: none;

      cursor: pointer;
    }

    .button-sent .text{
      font-family: Baloo2-bold;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: center;

      color: #FFFFFF;
    }
  }

  .pd-form{
    box-sizing: border-box;
    padding: 50px 50px 30px 50px;
  }

  .title-carousel{
    box-sizing: border-box;
    padding: 160px 0px 0px 120px;

    font-family: LilitaOne-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 100px;

    letter-spacing: 0.4em;

    color: #FFFFFF;
  }
}

.alert{
  color: red;
  font-family: Baloo2-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.invalid-feedback {
  color: red;
  font-family: Baloo2-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-left: 7px;
}
