.dialog{
  position: relative;

  .button-cancel{
    position: absolute;
    top: 0%;
    right: -1%;
    z-index: 1;
  }

  .col-md-7{
    box-sizing: border-box;
    padding: 10px 60px 10px 0px;
  }

  .dialog-img{
    // margin-top: 30px;
    width: 100%;
    height: 460px;
    object-fit: cover;
  }

  .dialog-title{
    font-family: Baloo2-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 57px;

    color: #FF7800;
    text-transform: uppercase;

    box-sizing: border-box;
    padding: 0px 35px 0px 0px;
  }

  .dialog-trans{
    font-family: Baloo2-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;

    color: #FF7800;

    box-sizing: border-box;
    padding: 0px 35px 0px 0px;
  }

  .dialog-hr{
    width: 100%;
    height: 2px;

    margin: 10px 0px;
    background: #FF7800;
  }

  .dialog-capacity{
    font-family: Baloo2-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height */

    color: #727272;
    margin-bottom: 10px;

    .img{
      width: 7%;
      object-fit: cover;
      margin-right: 5px;
    }
  }

  .dialog-money{
    font-family: Baloo2-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;

    color: #727272;
    margin-bottom: 10px;

    .img{
      width: 7%;
      object-fit: cover;
      margin-right: 5px;
    }
  }

  .dialog-text{
    font-family: Baloo2-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  }

  .dialog-utility{
    font-family: Baloo2-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  }
}


