.grid-container {
  margin: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mini-fab.mat-accent {
  background-color: #faf611;
}

.mat-mini-fab.mat-primary {
  background-color: #00e73a;
}

.mat-mini-fab.mat-warn {
  background-color: #ff1e00;
}


.margin-right-10{
  margin-right: 10px;
}

.table td, .table th {
  vertical-align: middle;
}

.row-flex{
  display: flex;
  justify-content: space-between;
}

