<div class="maps">
    <div class="maps-list">
      <ul class="maps-item">
        <li *ngFor="let menuList of menuLists; let i = index">
          <a class="maps-link" (click)="openMenuList(menuList)" [ngClass]="{'active':selectedList===menuList.name}">
            <div class="row">
              <div class="col-md-3">
                <div class="maps-shop">
                  <img class="maps-img" src="../../../../../../assets/Images/Shop.png" alt="maps-shop">
                </div>
              </div>
              <div class="col-md-9">
                <h3 class="maps-title">
                  {{menuList.name}}
                </h3>
                <p class="maps-text">
                  {{menuList.adress}}
                </p>
                <p class="maps-text">
                  {{menuList.time}}
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="selectedList === 'Fruitee Sư Vạn Hạnh'">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5358600413615!2d106.66820801411639!3d10.770209262255161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ede0a8027bd%3A0x62bfc002829127f1!2zMzUzIFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1620295037464!5m2!1svi!2s" class="iframe-maps" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </ng-container>

    <ng-container *ngIf="selectedList === 'Fruitee Ba Tháng Hai'">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31356.02135071876!2d106.65191827637844!3d10.77275961825445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb9df4f77b%3A0xbcfc6ac4989ae6d!2zVHJ1bmcgdMOibSBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRyxrDhu51uZyDEkGFpIGjhu41jIE5nb-G6oWkgbmfhu68gLSBUaW4gaOG7jWMgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1620227236362!5m2!1svi!2s" class="iframe-maps" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </ng-container>

    <ng-container *ngIf="selectedList === 'Fruitee Hồ Con Rùa'">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31356.02135071876!2d106.65191827637844!3d10.77275961825445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb9df4f77b%3A0xbcfc6ac4989ae6d!2zVHJ1bmcgdMOibSBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRyxrDhu51uZyDEkGFpIGjhu41jIE5nb-G6oWkgbmfhu68gLSBUaW4gaOG7jWMgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1620227236362!5m2!1svi!2s" class="iframe-maps" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </ng-container>

    <ng-container *ngIf="selectedList === 'Fruitee Nguyễn Huệ'">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31356.02135071876!2d106.65191827637844!3d10.77275961825445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb9df4f77b%3A0xbcfc6ac4989ae6d!2zVHJ1bmcgdMOibSBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRyxrDhu51uZyDEkGFpIGjhu41jIE5nb-G6oWkgbmfhu68gLSBUaW4gaOG7jWMgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1620227236362!5m2!1svi!2s" class="iframe-maps" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </ng-container>
</div>


