<!-- desktop -->
<div class="nav-menu">
  <div class="nav-boxsizing">
    <div class="navbar-fruitee"><a class="navbar-link-menu" href="#">fruitee vietnam</a></div>
    <div class="navbar-collapse-menu">
      <ul class="navbar-menu">
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/home']">Trang chủ</a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/about']">Về fruitee</a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/menu']">Menu</a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/promotion']">Khuyến mãi</a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/contact']">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- tablet mobile -->
<div class="navbar-side">
  <div class="nav-boxsizing">
    <div class="navbar-fruitee"><a class="navbar-link-menu" href="#">fruitee vietnam</a></div>
    <div class="navbar-right">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" class="open active">
        <mat-icon>segment</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" class="closes">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="none">
    <div class="sidebar">
      <ul class="navbar-menu">
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/home']">
            <div class="icon"><mat-icon>home</mat-icon></div>
            <div>Trang chủ</div>
          </a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/about']">
            <div class="icon"><mat-icon>info</mat-icon></div>
            <div>Về fruitee</div>
          </a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/menu']">
            <div class="icon"><mat-icon>restaurant_menu</mat-icon></div>
            <div>Menu</div>
          </a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/promotion']">
            <div class="icon"><mat-icon>celebration</mat-icon></div>
            <div>Khuyến mãi</div>
          </a>
        </li>
        <li class="nav-item-menu" routerLinkActive="active">
          <a class="navbar-link-menu" [routerLink]="['/contact']">
            <div class="icon"><mat-icon>contact_support</mat-icon></div>
            <div>Liên hệ</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
