<div class="footer">
  <div class="row">
    <div class="col-md-6">
      <h3 class="footer-title">fruitee vietnam</h3>
      <p class="footer-content">Những thức uống của chúng tôi không chỉ đơn thuần là thức uống quen thuộc mà còn mang trên mình một sứ mệnh văn hóa phản ánh một phần nếp sống hiện đại của người Việt Nam. </p>
    </div>
    <div class="col-md-3">
      <h3 class="footer-title">quick links</h3>
      <div class="row">
        <div class="col-md-6">
          <ul class="footer-items">
            <li>
              <a class="footer-link">Trang chủ</a>
            </li>
            <li>
              <a class="footer-link">Giới thiệu</a>
            </li>
            <li>
              <a class="footer-link">Khuyến mãi</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="footer-items">
            <li>
              <a class="footer-link">Menu</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3 class="footer-title">connect to us</h3>
      <div class="row">
        <div class="col-md-12">
          <p>
            <img class="footer-icon" src="../../../../../assets/Images/Vector.png" alt="email">
            <span class="footer-connect">fruiteevn@fruitee.com</span>
           </p>
           <p>
            <img class="footer-icon" src="../../../../../assets/Images/Vector1.png" alt="phone">
            <span class="footer-connect">1900 0019</span>
           </p>
        </div>
        <div class="col-md-12">
          <img class="footer-icon" src="../../../../../assets/Images/fb.png" alt="facebook">
          <img class="footer-icon" src="../../../../../assets/Images/ins.png" alt="instargam">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy-right">
    <p class="copy-right">Fruitee Vietnam - Copyright © 2020 fruitee.vn - All right reserved.</p>
  </div>
</div>
