.carousel-home{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(99.85deg, #FF7800 0%, #D9E021 100%);
}

.carousel-boxsizing{
  box-sizing: border-box;
  padding: 100px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-md-8{
  width: calc(60%);
}

.col-md-4{
  width: calc(40%);
}


.title{
  height: 300px;
  font-family: LilitaOne-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 0.4em;

  color: #FFFFFF;
}

.promotion-fruitee{
  position: relative;
  margin-top: 120px;
}

.promotion-title{
  font-family: Baloo2-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 0px;
  /* identical to box height */

  color: #FFFFFF;
}

.promotion-email{
  display: flex;
  width: 100%;
}

.promotion-input{
  width: 70%;
  /* width: 475px; */
  padding: 9px 0px 9px 20px;
  border: 0 solid transparent;
  margin-top: 10px;
  box-shadow: 0px 3px 7px #5f5d5d75;


  font-family: Baloo2-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.promotion-input::placeholder{
  font-family: Baloo2-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  color: rgba(128, 128, 128, 0.5);
}

.promotion-button{
  width: 20%;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 8px;
  background: #D9E021;
  border: 1px solid #D9E021;
  cursor: pointer;

  font-family: Baloo2-bold;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  color: #FFFFFF;
  box-shadow: 0px 3px 7px #5f5d5d75;
}

.promotion-brand{
  width: 100%;
  object-fit: cover;

  img{
    position: absolute;
    right: 0px;
    width: 100%;
    object-fit: cover;
  }
}

form {
  width: 100%;
}

.invalid-feedback {
  font-family: Baloo2-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

