.introduce{
  position: relative;
  width: 100%;

  .grid-template-introduce{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

    .item-1{
      order: 1;
      position: relative;

      .menu-1{
        width: 50%;
        height: 720px;

        background: linear-gradient(270deg, #FF7800 0%, #D9E021 109.44%);

        .menu-img{
          position: absolute;
          top: 15%;
          right: 0;

          width: 80%;
          object-fit: cover;
        }
      }
    }

    .item-2{
      order: 2;

      .menu-2{
        width: 100%;
        height: 720px;
        box-sizing: border-box;
        padding: 110px 130px 0px 100px;

        .title{
          font-family: Baloo2-bold;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 57px;

          color: #808080;
          height: unset;
          text-transform: none;
          letter-spacing: unset;
        }

        .content{
          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          text-align: justify;

          color: #808080;

          span{
            font-family: Baloo2-bold;
          }
        }
      }
    }

    .item-3{
      order: 3;

      .menu-3{
        width: 100%;
        height: 720px;
        box-sizing: border-box;
        padding: 110px 100px 0px 130px;

        .title{
          font-family: Baloo2-bold;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 57px;

          color: #808080;
          height: unset;
          text-transform: none;
          letter-spacing: unset;
        }

        .content{
          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          text-align: justify;

          color: #808080;

          span{
            font-family: Baloo2-bold;
          }
        }
      }
    }

    .item-4{
      order: 4;
      position: relative;

      .menu-4{
        position: absolute;
        width: 70%;
        right: 0%;
        height: 720px;

        background: linear-gradient(270deg, #FF5F5A 0%, #FFFFFF 109.44%);


        .menu-img{
          position: absolute;
          top: 21%;
          right: 50%;

          width: 85%;
          object-fit: cover;
        }
      }
    }

    .item-5{
      order: 5;

      .menu-5{
        width: 100%;
        height: 720px;

        background: linear-gradient(270deg, #D9E021 0%, #FFFFFF 109.44%);

        box-sizing: border-box;
        padding: 18% 0%;
        .menu-img{
          display: block;
          margin: auto;
          width: 70%;
        }
      }
    }

    .item-6{
      order: 6;

      .menu-6{
        width: 100%;
        height: 720px;
        box-sizing: border-box;
        padding: 110px 100px 0px 130px;

        .title{
          font-family: Baloo2-bold;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 57px;

          color: #808080;
          height: unset;
          text-transform: none;
          letter-spacing: unset;
        }

        .content{
          font-family: Baloo2-regular;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          text-align: justify;

          color: #808080;

          span{
            font-family: Baloo2-bold;
          }
        }
      }
    }
  }
}
