<div class="introduce">
  <div class="grid-template-introduce">
    <div class="item-1">
      <div class="menu-1">
        <img class="menu-img" src="../../../../../../assets/Images/Rectangle 29.png" alt="img-1">
      </div>
    </div>
    <div class="item-2">
      <div class="menu-2">
        <h3 class="title">Khởi nguồn từ lá trà và trái cây tươi Việt Nam</h3>
        <div class="content">
         <p>
          Từ tình yêu với Việt Nam và niềm đam mê chế biến trà, năm 2020, thương hiệu <span>Fruitee Vietnam</span> ra đời với khát vọng đưa hương vị trà đến rộng rãi các thế hệ trẻ Việt Nam và lan rộng tinh thần tự hào, kết nối hài hoà giữa truyền thống với hiện đại.
         </p>
         <p>
          Những thức uống của chúng tôi không chỉ đơn thuần là thức uống quen thuộc mà còn mang trên mình một sứ mệnh văn hóa phản ánh một phần nếp sống hiện đại của người Việt Nam.
         </p>     ​
        </div>
      </div>
    </div>
    <div class="item-3">
      <div class="menu-3">
        <h3 class="title">Một ly nước ngon nhất cần thành phần tốt nhất</h3>
        <div class="content">
          <p>
            Sản phẩm của chúng tôi được làm từ lá trà chất lượng cao và các thành phần được chọn lọc kỹ càng trực tiếp từ Thái Nguyên.
          </p>
          <p>
            Chúng tôi kiểm tra lá trà mỗi mùa vụ và tất cả các thành phần theo thời gian để đảm bảo thức uống của chúng tôi luôn phù hợp và chất lượng, bảo đảm 100% tươi và ngon.
          </p>
        </div>
      </div>
    </div>
    <div class="item-4">
      <div class="menu-4">
        <img class="menu-img" src="../../../../../../assets/Images/Rectangle-29.png" alt="img-4">
      </div>
    </div>
    <div class="item-5">
      <div class="menu-5">
        <img class="menu-img" src="../../../../../../assets/Images/Rectangle 30.png" alt="img-5">
      </div>
    </div>
    <div class="item-6">
      <div class="menu-6">
        <h3 class="title">Luôn quan tâm đến trải nghiệm của khách hàng</h3>
        <div class="content">
          <p>
            Khách hàng là yếu tố quan trọng giúp cho một doanh nghiệp thành công vì vậy, Fruitee luôn luôn đặt khách hàng lên hàng đầu, luôn quan tâm đến khách hàng giúp cho khách hàng có được trải nghiệm tốt nhất khi sử dụng dịch vụ tại Fruitee Vietnam.
          </p>
          <p>

            Kể từ lúc ra đời và hoạt động vào năm 2020, đội ngũ quản lý và nhân viên của Fruitee Vietnam tại các cửa hàng khác nhau, đã cùng nhau xây dựng và nuôi dưỡng hình ảnh một thương hiệu trà sữa và nước trái cây hàng đầu Việt Nam, luôn quan tâm đến khách hàng.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
