<div class="carousel carousel-boxsizing">
 <div class="row">
   <div class="col-md-6">
    <img class="carousel-img" src="../../../../../../assets/Images/Rectangle 28.png" alt="banner">
    <p class="carousel-title">peach <br> fruitee</p>
   </div>
   <div class="col-md-6">
    <div class="carousel-content">
      <h3 class="title">best <br> seller</h3>
      <p class="content">25.000đ</p>
    </div>
   </div>
 </div>

<div class="carousel-fruitee-menu">
  <p class="fruitee-menu">fruitee <br> menu</p>
</div>
</div>
