// body {
//   background-image: url('../../../../assets/Images/login.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100%;
//   font-family: 'Helvetica', 'Arial', sans-serif;
//   font-size: 14px;
//   font-size: 0.875rem;
//   font-weight: 400;
//   line-height: 1.5;
//   margin: 0;
//   min-height: 100%;
// }

// .alert{
//   color: red;
//   font-weight: 500;
//   font-size: 13px;
// }
