<div class="grid-container">
  <h1 class="mat-h1">Quản lý sản phẩm</h1>
  <mat-card>
    <div class="row-flex">
      <h4>Danh sách sản phẩm</h4>
      <div class="flex-end">
        <button mat-raised-button color="primary">Thêm</button>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Tìm kiếm..." #input>
    </mat-form-field>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Khu vực</th>
          <th scope="col">Alilas Khu vực</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Ngày bắt đầu</th>
          <th scope="col">Ngày cập nhật</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of area">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.alias}}</td>
          <td>{{item.status}}</td>
          <td>{{item.created_at}}</td>
          <td>{{item.updated_at}}</td>
          <td>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" class="margin-right-10">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-mini-fab color="accent" aria-label="Example icon button with a delete icon" class="margin-right-10">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" class="margin-right-10">
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
