.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.pd-right-10{
  padding-right: 10px;
}

.row-flex{
  display: flex;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

button#dropdownMenuButton {
  color: #fff;
}
