<mat-dialog-actions class="flex">
  <h2 mat-dialog-title>Một ly nước ngon nhất cần các thành phần tốt nhất</h2>
  <button mat-icon-button mat-dialog-close color="warn">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
  <h3>Sản phẩm thái nguyên</h3>
  <p>Sản phẩm của chúng tôi được làm từ lá trà chất lượng cao và các thành phần được chọn lọc kỹ càng trực tiếp từ Thái Nguyên.</p>

  <p>Chúng tôi kiểm tra lá trà mỗi mùa vụ và tất cả các thành phần theo thời gian để đảm bảo thức uống của chúng tôi luôn phù hợp và chất lượng, bảo đảm 100% tươi và ngon. ​</p>
  <img class="img-about" src="../../../../../../../assets/Images/main img.png" alt="img-about">

  <p>Cơ thể sau một đêm ngủ dậy đã tiêu hao hết lượng nước hôm trước nên cần được bổ sung vào sáng hôm sau để thúc đẩy tuần hoàn máu, lọc chất thải.</p>
  <p>Theo Health, nước là một trong những chất dinh dưỡng thiết yếu đối với con người, chiếm khoảng 60-70% trọng lượng cơ thể. Nước phân bổ ở khắp các cơ quan từ cơ bắp, não bộ đến xương khớp, nội tạng. Người ta có thể nhịn ăn trong cả tháng nhưng thiếu nước trong vài ngày có thể dẫn đến tử vong.</p>

  <p>Mỗi ngày cơ thể mất đi trung bình 1,5 lít nước qua tiểu tiện, đại tiện, mồ hôi, đặc biệt càng vận động nhiều càng mất nước nhiều. Do đó cần phải được bổ sung để thay thế phần đã mất đi. Trừ lượng nước trong thức ăn, mỗi ngày một người cần bổ sung khoảng 1,5 lít nước để đảm bảo cho các cơ quan trong cơ thể hoạt động trơn tru.</p>
</mat-dialog-content>
