.list-menu{
  position: relative;
  margin-top: 150px;

  &-item{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    box-sizing: border-box;
    padding: 0px 250px;

    .menu-link{
      width: 150px;
      height: 50px;

      border: 1px solid #D9E021;

      position: relative;
      margin-right: 30px;
      box-sizing: border-box;
      padding: 0px 10px;

      font-family: Baloo-bold;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 45px;
      cursor: pointer;

      text-decoration: none;
      text-align: center;
      color: #D9E021;

    }

    .menu-link.active{
      width: 150px;
      height: 50px;

      background: #D9E021;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      font-family: Baloo-bold;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 45px;
      /* identical to box height */

      text-align: center;

      color: #FFFFFF;
    }
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  row-gap: 30px;

  .col-md-3{
    max-width: 100%;
  }
}

.pd-150{
  box-sizing: border-box;
  padding: 75px 150px;

  .img-product{
    width: 220px;
    height: 220px;

    display: block;
    margin: auto;

    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }

  .name-product{
    font-family: Baloo2-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;

    text-align: center;
    margin-top: 20px;

    color: #808080;
  }

 .price-product{
   display: flex;
   justify-content: space-around;
  .price{
    font-family: Baloo2-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

    color: #808080;
  }
 }
}

.popularity{
  box-sizing: border-box;
  padding: 0px 150px;

  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;

  &-item{
    display: flex;
    flex-wrap: wrap;

    column-gap: 10px;

    .img{
      width: 100%;
      object-fit: cover;
    }

    .text{
      font-family: Baloo2-bold;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 55px;

      margin: 0px;
      color: #808080;
    }
  }
}
