<div class="list-menu">
  <ul class="list-menu-item">
    <li class="menu-link" *ngFor="let cate of categories" [ngClass]="{'active':selectedList===cate}">
      <a (click)="openMenuList(cate)">
        <p>{{cate}}</p>
      </a>
    </li>
  </ul>

  <ng-container *ngIf="selectedList === 'Signature'">
    <div class="row pd-150">
      <div class="col-md-3" *ngFor="let product of products">
        <div *ngIf="product.id <= 8">
          <img class="img-product" [src] = "product.img" (click)="showOn(product)"/>
          <div class="name-product">{{product.name}}</div>
          <div class="price-product">
            <div *ngIf="product.price1 !== null">
              <div class="price">
                {{product.price | number:0}}đ | {{product.price1 | number:0}}đ
              </div>
            </div>
            <div *ngIf="product.price1 === null">
              <div class="price">
                {{product.price | number:0}}đ
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedList === 'Trà trái cây'">
    <div class="row pd-150">
      <div *ngFor="let product of products">
        <div *ngIf="product.cate === 'Trà trái cây'">
         <div class="col-md-3">
          <img class="img-product" [src] = "product.img" (click)="showOn(product)"/>
          <div class="name-product">{{product.name}}</div>
          <div class="price-product">
            <div *ngIf="product.price1 !== null">
              <div class="price">
                {{product.price | number:0}}đ | {{product.price1 | number:0}}đ
              </div>
            </div>
            <div *ngIf="product.price1 === null">
              <div class="price">
                {{product.price | number:0}}đ
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
   </ng-container>

   <ng-container *ngIf="selectedList === 'Trà sữa'">
    <div class="row pd-150">
      <div *ngFor="let product of products">
        <div *ngIf="product.cate === 'Trà sữa'">
         <div class="col-md-3">
          <img class="img-product" [src] = "product.img" (click)="showOn(product)"/>
          <div class="name-product">{{product.name}}</div>
          <div class="price-product">
            <div *ngIf="product.price1 !== null">
              <div class="price">
                {{product.price | number:0}}đ | {{product.price1 | number:0}}đ
              </div>
            </div>
            <div *ngIf="product.price1 === null">
              <div class="price">
                {{product.price | number:0}}đ
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
   </ng-container>

   <ng-container *ngIf="selectedList === 'Nước ép'">
    <div class="row pd-150">
      <div *ngFor="let product of products">
        <div *ngIf="product.cate === 'Nước ép'">
         <div class="col-md-3">
          <img class="img-product" [src] = "product.img" (click)="showOn(product)"/>
          <div class="name-product">{{product.name}}</div>
          <div class="price-product">
            <div *ngIf="product.price1 !== null">
              <div class="price">
                {{product.price | number:0}}đ | {{product.price1 | number:0}}đ
              </div>
            </div>
            <div *ngIf="product.price1 === null">
              <div class="price">
                {{product.price | number:0}}đ
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
   </ng-container>

   <ng-container *ngIf="selectedList === 'Sinh tố'">
    <div class="row pd-150">
      <div *ngFor="let product of products">
        <div *ngIf="product.cate === 'Sinh tố'">
         <div class="col-md-3">
          <img class="img-product" [src] = "product.img" (click)="showOn(product)"/>
          <div class="name-product">{{product.name}}</div>
          <div class="price-product">
            <div *ngIf="product.price1 !== null">
              <div class="price">
                {{product.price | number:0}}đ | {{product.price1 | number:0}}đ
              </div>
            </div>
            <div *ngIf="product.price1 === null">
              <div class="price">
                {{product.price | number:0}}đ
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
   </ng-container>

   <div class="popularity">
    <div class="popularity-item">
      <div class="popularity-img">
        <img class="img" src="../../../../../../assets/Images/Glowing Star.png" alt="glowingstar">
      </div>
      <p class="text">Được ưa chuộng</p>
    </div>
    <div class="popularity-item">
      <div class="popularity-img">
        <img class="img" src="../../../../../../assets/Images/Red Circle.png" alt="redcircle">
      </div>
      <p class="text">Nên thử</p>
    </div>
   </div>
</div>
