.nav-menu{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: linear-gradient(89.79deg, #FF7800 0.36%, #D9E021 111.98%);
  z-index: 10;

  .nav-boxsizing{
    box-sizing: border-box;
    padding: 10px 100px;
    display: flex;

      .navbar-fruitee{
        width: 30%;
        font-family: BowlbyOneSC;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 37px;
        text-transform: uppercase;
      }

      .navbar-fruitee .navbar-link-menu{
        text-decoration: none;
        color: #FFFFFF;
      }

      .navbar-collapse-menu {
        position: relative;
        width: 70%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
      }

      .navbar-menu{
        display: flex;
        list-style-type: none;
      }

      .navbar-menu .nav-item-menu{
        font-family:  Baloo2-bold;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        box-sizing: border-box;
        padding-right: 30px;
      }

      .navbar-menu .nav-item-menu .navbar-link-menu{
        text-decoration: none;
        color: #FFFFFF;
      }

      li.nav-item-menu.active > a{
        color: #FAFF00 !important;
      }
  }
}




//tablet mobile
.navbar-side{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: linear-gradient(89.79deg, #FF7800 0.36%, #D9E021 111.98%);
  z-index: 10;

  .nav-boxsizing{
    box-sizing: border-box;
    padding: 11px 60px;
    display: flex;
    justify-content: space-between;

    .navbar-fruitee{
      width: 30%;
      font-family: BowlbyOneSC;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 37px;
      text-transform: uppercase;
    }

    .navbar-fruitee .navbar-link-menu{
      text-decoration: none;
      color: #FFFFFF;
    }

    .navbar-right{
      margin-top: -2px;
      color: #fff;
    }
  }


  .sidebar{
    position: absolute;
    right: 0px;
    width: 300px;
    height: 100vh;
    background: #fff;
    filter: drop-shadow(-5px 5px 6px rgba(0, 0, 0, 0.25));

    .navbar-menu{
      list-style-type: none;
      padding: 0px;


      .nav-item-menu{
        font-family:  Baloo2-regular;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 28px;

        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        padding: 20px 0px 15px 53px;

        .navbar-link-menu{
          text-decoration: none;
          color: #808080;
          display: flex;

          .icon{
            margin-right: 10px;
          }
        }
      }

      li.nav-item-menu.active > a{
        color: #e2e604 !important;
      }
    }
  }

  .none{
    transform: translateX(100%);
    transition: 0.8s;
  }

  .none.active{
    transform: translateX(0px);
    transition: 0.4s;
  }

  .open.active{
    display: block;
  }

  .open{
    display: none;
  }

  .closes.active{
    display: block;
  }

  .closes{
    display: none;
  }
}

